@import '../../node_modules/bootstrap/scss/bootstrap';
@import './constants';

.form-container {
  @extend .col-xs-12;
  @extend .col-md-8;
  @extend .col-md-offset-2;
  margin-top: 1vh;
}

.fill-blank {
  @extend .form-control;
  @extend .form-control-sm;
  line-height: 1;
  max-width: 6rem;
  padding: .3rem;
}

.question-edit-controls {
  & .form-group {
    display: inline-block;
  }
}


.editable-text {
  @extend .form-control;
  border: 0;
  cursor: pointer;

  &.h1 {
    @extend h1;
  }

  &.h2 {
    @extend h2;
  }

  &.h3 {
    @extend h3;
  }

  &.h4 {
    @extend h4;
  }

  &.h5 {
    @extend h5;
  }

  &:hover,
  &:focus {
    background-color: #f8f8f8;
  }

  &:hover {
    text-decoration: underline;
  }
}

.striked-text-wrapper {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.striked-text {
  @extend .text-muted;
  display: inline-block;
  position: relative;

  &:before,
  &:after {
    background: $grey-accent;
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
  }

  &:before {
    margin-right: 15px;
    right: 100%;
  }

  &:after {
    left: 100%;
    margin-left: 15px;
  }
}

.arrow-group {
  @extend .btn-group-vertical;
  @extend .btn-group-sm;

  & > .btn {
    &:not(:only-child) {
      line-height: .5;
      padding-bottom: .1em;
      padding-top: .1em;
    }

    & > .fa {
      font-size: .8em;
    }
  }
}
